<html>
  <h1>ejs のテンプレートエンジンのおかげで、下のテキストが app.js で設定した値に変わります。</h1>
  <p><%= title %></p>
  <form method="post" action="/create">
    <input type="text" name="name">
    <input type="submit" value="create">
  </form>
</html>
